# B2ACCESS API endpoint connection details
api:
  base_url: "https://b2access.eudat.eu:8443"
  path: "rest-admin"
  version: "v1"
  user: "unity_user"
  password: "unity_password"
  cert_verify: True

# List of attributes that should be saved when removing user information.
# Attributes not listed here will be immediately removed upon user
# deprovisioning.
attr_whitelist: []

# Duration of time for which the records of deprovisioned users should be
# maintained (in days). After that period all information about the
# deprovisioned users will be permanently removed.
retention_period: 365

# Notification settings
notifications:
  email: 
    # SMTP host to connect to. Defaults to the local host if empty.
    host: "smtp.example.eu"
    # SMTP port to connect to. Defaults to the standard SMTP port (25) if empty.
    port: 587
    # Whether to put the SMTP connection in TLS. Defaults to False.
    use_tls: True
    # Login username/password if the SMTP server requires authentication;
    # otherwise empty.
    user: "smtp_user"
    password: "smtp_password"
    # Sender address
    from: "B2ACCESS Notifications <noreply@b2access.eudat.eu>"
    # List of recipient addresses
    to:
      - "SP1 Operator <admin@sp1.eudat.eu>"
      - "SP2 Operator <admin@sp2.eudat.eu>"
      - "SP3 Operator <admin@sp3.eudat.eu>"
    subject: "Deprovisioned B2ACCESS accounts"
    intro_text: "See attachment for details of deprovisioned B2ACCESS accounts.\n\nNote: This is an automated email, please don't reply."
